language: python
python:
  - '3.8'
  - '3.9'
env:
  global:
    - RECIPIENT=3MyGpJh6Bb8auF3HtSr2dSJjqQVxgqLynpK
    - HASH=d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f90da3a666eec13ab35
    - HASH_BASE58=FJKTv1un7qsnyKdwKez7B67JJp3oCU5ntCVXcRsWEjtg
    - LEASE_ID=6XmeG7SRWiw8pD6Uad6D9AAaY354v5TV6AJMhPpHMkqy

branches:
  only:
    - main
    - /^v\d+\.\d+\.\d+$/

install:
  - pip3 install .
  - pip3 install --upgrade build
before_script:
  - python3 -m build
  - pip install dist/lto_cli*
script:
  - lto
  - lto account create
  - ACCOUNT=$(lto account create)
  - echo $ACCOUNT
  - cat ~/.lto/L/accounts.ini
  - lto account list && lto account list | grep -q $ACCOUNT
  - lto node status
  - lto balance 3JugjxT51cTjWAsgnQK4SpmMqK6qua1VpXH
  - lto anchor --hash $HASH_BASE58 --encoding base58 --no-broadcast
  - lto anchor --hash $HASH --no-broadcast
  - lto association issue --recipient $RECIPIENT --type 1 --subject $HASH --no-broadcast
  - lto association revoke --recipient $RECIPIENT --type 1 --subject $HASH --no-broadcast
  - lto transfer --recipient $RECIPIENT --amount 742.6 --no-broadcast
  - echo -e "3N6MFpSbbzTozDcfkTUT5zZ2sNbJKFyRtRj 742.6\n3NBC7ETcdPbf4QAXSop5UCJ53yX34aGPXoz 2184.2" | lto mass-transfer --no-broadcast
  - lto lease create --recipient $RECIPIENT --amount 742.6 --no-broadcast
  - lto lease cancel --leaseId $LEASE_ID --no-broadcast
  - lto sponsorship create --recipient $RECIPIENT --no-broadcast
  - lto sponsorship cancel --recipient $RECIPIENT --no-broadcast

stages:
  - name: test
    if: tag IS blank

jobs:
  include:
    - name: "Publish to PyPi"
      stage: deploy
      if: tag IS present
      before_install:
        - sed -e "s/version = 0.0.0/version = $TRAVIS_TAG/" -i setup.cfg
      before_script: skip
      script:
        - python3 -m build
      deploy:
        provider: pypi
        username: __token__
        password:
          secure: WlPldkWoyCpggKhL/j0tRahjFlOB4kpHu7RkSdz3ZweYYdHWqjfeS64C3KlCMmVPisEp62yOECCDksxEjRoTBJ8+SO8TV6a03T+qeu2x9nCW0MfB9OLmIzFsnr/ubWnzc6rknTaVpjdK3pSUnNloJrJcZymVTnjsHMHEk+xe3kLMnkM5FZNE7GOu7DsZcgyRY5hAb7nAluLx4FVpEir8bpCnlCPMKRHqiHpz8JybTWmT0DHetZLl6NGTriYatTcQM9GKZSydF23BC35Vph9CHusqMS+GbJYbEyfQ8FfkRNBqPYaXQac0ezdKeMVVGRqpL7aEmyefkfvo+8gLiamjCCXGL7tkcz9y/TbxEog8DLW2VVulZoxMYYZ9TXk/JB7J9s/iJrhH2H5kgqn1DWM2TL8AI3o7X+Z8m4rFhUBdAOeR18RlR7Ft5UpIxYmtRZfRHAPcvS4XoA9q8HQS1q2dWKeiRm13QoPcHKhyExZQ9PzOHNW4SF64FjVh3JFFIx/+rKVVewqOc3fi+lwK1zeiPWqnEA6GsoKPpCB7XuCRlHOvyOtmEB2Q1xOuNB9FFjkCUDw6ZZXUlxqxml8CWAw3/1D8fPVg4nbXaLMAeh2Y1dpnL4IT7vqPN0cC659v37DhdrW49zKucgfm4nI2uo7ByN0K1vv608p5bOMjLLgZ+uM=
        on:
          tags: true
        skip_cleanup: true
